@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #f7f7f7;
		--foreground: #000;
		--red: #ef4444;
		--card: #e6e6e6;
		--border: #e6e6e6;
		--card2: #fff;
		--card3: #f0f0f0;
	}
	.dark {
		--background: #0f1214;
		--foreground: #fbe8cc;
		--red: #d8293a;
		--card: #2d2d2d;
		--border: #fbe8cc4d;
		--card2: #000;
		--card3: #121212;
	}
}

body {
	scroll-behavior: smooth;
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
	text-transform: lowercase;
	line-height: 100%;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
