.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.header-text {
  margin: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.animate:hover {
  background-color: rgb(57, 128, 57);
  cursor: default;
  transition-duration: 0.5s;
}