.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 10%;
  background-image: url("./assets/logo.jpg");
  background-position: center center;
  background-size: 100%;
  transition: background-size 0.5s ease;
  margin: 3px;
}

.logo:hover {
  background-size: 110%;
}

.header-text {
  margin: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.header-text:hover {
  background-color: rgb(57, 128, 57);
  cursor: default;
  transition-duration: 0.5s;
}

.header-subtext {
  margin: 3px;
  padding-left: 3px;
  padding-right: 3px;
}